<h1 style="color: white">All SpaceShips</h1>
<table [hidden]="hideSpaceShips" class="table table-striped">
  <thead class="thead-dark">
    <th>name</th>
    <th>model</th>
    <th>manufacturer</th>
    <th>cost_in_credits</th>
    <th>length</th>
    <th>max_atmosphering_speed</th>
    <th>crew</th>
    <th>passengers</th>
    <th>cargo_capacity</th>
    <th>consumables</th>
    <th>hyperdrive_rating</th>
    <th>MGLT</th>
    <th>starship_class</th>
    <th>pilots</th>
    <th>films</th>
    <th>created</th>
    <th>edited</th>
    <th>url</th>
  </thead>
  <tbody>
    <tr *ngFor="let spaceShip of spaceships">
      <tr>
      <td>{{ spaceShip.name }}</td>
      <td>{{ spaceShip.model }}</td>
      <td>{{ spaceShip.manufacturer }}</td>
      <td>{{ spaceShip.cost_in_credits }}</td>
      <td>{{ spaceShip.length }}</td>
      <td>{{ spaceShip.max_atmosphering_speed }}</td>
      <td>{{ spaceShip.crew }}</td>
      <td>{{ spaceShip.passengers }}</td>
      <td>{{ spaceShip.cargo_capacity }}</td>
      <td>{{ spaceShip.consumables }}</td>
      <td>{{ spaceShip.hyperdrive_rating }}</td>
      <td>{{ spaceShip.MGLT }}</td>
      <td>{{ spaceShip.starship_class }}</td>
      <td>{{ spaceShip.pilots }}</td>
      <td>{{ spaceShip.films }}</td>
      <td>{{ spaceShip.created }}</td>
      <td>{{ spaceShip.edited }}</td>
      <td>{{ spaceShip.url }}</td>
    </tr>
  </tbody>
</table>